.container{
    color: #555;
    padding: 0 20px;
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    text-align: center;
    margin-top: 50px;
}

.header h2 {
    color: #1a73e8;
    margin-bottom: 20px;
    font-size: 2rem;
}

.statsContainer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.statsChildContainer{
    width: 45%;
}

.statsChildContainer h2 {
    color: #1a73e8;
    margin-bottom: 20px;
}

.statsChildContainer p {
    font-size: .9rem;
    margin-bottom: 20px;
    text-align: justify;
}

.valueContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, .5);
    padding: 10px 0;
}

.valueTitleContainer {
    display: flex;
    align-items: center;
}

.valueTitleContainer span {margin-right: 10px;}

.value {
    color: #000;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.descContainer , .linkContainer {
    width: 45%;
}

.descContainer h3, .linkContainer h3 {
    color: #1a73e8;
    margin-bottom: 20px;
}

.descContainer p {
    text-align: justify;
    font-size: .9rem;
    margin-bottom: 20px;
}

.link{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0, .5);
    padding: 15px 0;
}

.link h5 {
    font-size: .9rem;
}


@media (max-width: 1150px) {
    .link a{
        font-size: 14px;
    }
}
@media (max-width: 1150px) {
    .link a{
        font-size: 12px;
    }
}
@media (max-width: 915px) {
    .valueContainer{
        font-size: 14px;
    }
    .link {
        flex-direction: column;
    }
    .link h5 {
        margin-bottom: 10px;
    }
}
@media (max-width: 857px) {
    .statsChildContainer h2 {
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    .statsContainer {
        flex-direction: column;
        justify-content: center;
    }

    .statsChildContainer{
        width: 100%;
    }

    .bottomContainer{
        flex-direction: column;
    }

    .descContainer, .linkContainer{
        width: 100%;
    }
}

